<h1>Temperature Converter</h1>

<input type="number" [(ngModel)]="temperatureInFahrenheit"><label><sup>o</sup>F</label>
<div><button (click)="convert()">Convert</button></div>
<div id="celsius">{{ temperatureInCelsius }}<span *ngIf="temperatureInCelsius !== ''"><sup>o</sup>C</span></div>
